*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/hs_err_pid24984.log
/hs_err_pid17700.log
/replay_pid17700.log
/.idea/deploymentTargetDropDown.xml
/codemr/*
/hs_err_pid16348.log
/hs_err_pid16904.log
/replay_pid16348.log
/hs_err_pid8184.log
/hs_err_pid8744.log
/replay_pid8744.log
/hs_err_pid1736.log
